body {
  background: #e1e1ea;
  font-family: 'Roboto';
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}

/**resume **/
.resume{
  float: left;
  float:right;
  display: grid;
  position: absolute;
  grid-template-areas:
    "a a  a"
    "b b  c"
    "d d  e";
  box-shadow: 10px 10px 5px grey;
  left:0px;
  right: 0px;
  background-color: #fffde5;
  height: 800px;
  width: 1200px;
  box-sizing: border-box;
  margin: 15px auto 15px auto;
}

/**Left side CSS**/
.top-box{
  float: left;
  grid-area: a;
  box-shadow: 10px 10px 5px grey;
  background-image: linear-gradient(319deg, #e5f4ff 0%, #99d4ff 37%, #e5f4ff 100%);
  height: 200px;
  width: 97%;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}




/**Left side content CSS**/

.top-box-left{
  float: left;
  border-width: 0px 0px 0px 0px;
  box-sizing: border-box;
  margin: 0px 10px 0px 0px;
  padding: 10px 10px 10px 10px;
  width: 180px;
  height: auto;
}

img { 
    width:30px;
    height:30px;
    box-sizing: border-box;
    border-radius: 50px 50px / 100px 100px;
    box-shadow: 1px 10px 5px grey;
    margin: 15px 15px 15px 15px;
}

.my-img { 
    width:120px;
    height:150px;
    box-sizing: border-box;
    border-radius: 50px 50px / 100px 100px;
    box-shadow: 1px 10px 5px grey;
    margin: 15px 30px 15px 100px;
}


.top-box-center{
  float: left;
  margin-left:calc(50% - 400px);
  height: auto;
  width:400px;
}
 

.name {
    position: absolute;
    font-size: 40px;
    color: #151B54;
    bottom: 8px;
    left: 16px;
    box-sizing: border-box;
}

.objective {
   border-width: 0px 0px 2px 0px ;
   margin: 15px;
   padding: 10px;
   box-sizing: border-box;
}

.objective-img{
  float: left;
  border: solid;
  border-width: 3px;
  box-sizing: border-box;
  width: 30px;
  height: auto;
}

.objective-text{
  display: inline-block;
  line-height: 2.0;
  text-align: center;
  color: #151B54;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}

.contact{
   float:right;
   border-width: 0px 0px 2px 0px;
   box-sizing: border-box;
   padding: 10px;
   width: 350px;
   height: auto;
   margin: 15px 15px 15px 15px;
}
.contact-text {
  display: inline-block;
  line-height: 2.0;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  text-decoration-line: underline;  
  color: #151B54;
  margin: 0px 15px 0px 15px;
  box-sizing: border-box;
}



/**work experience box**/
.work-experience {
  float: left;
  grid-area: b;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  height: 250px;
  width: 780px;
  top: 25%;
  box-sizing: border-box;
  margin: 15px 15px 15px 15px;
}
.work-title{
  line-height: 2.0;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: #151B54;
  box-sizing: border-box;
  margin: 15px 15px 15px 80px;
}

.skills {
  grid-area: e;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  box-sizing: border-box;
  height: 250px;
  width: 350px;
  margin: 15px 15px 15px 15px;
}


.work-img {
  float: left;
  height: 2px;
  width: 2px;
  margin: 2px 30px 30px 3px;
  box-sizing: border-box;
}

.job-box{
  float: left;
  border-width: 0px 0px 0px 0px;
  box-sizing: border-box;
  margin: 0px 15px 0px 20px;
  padding: 10px 10px 10px 10px;
  width: 340px;
  height: auto;
}


.job-title {
  font-weight: bold;
  line-height: 1.5;
  box-sizing: border-box;
}

.job-date{
  color: #0000FF;
  line-height: 1.5;
  box-sizing: border-box;
}


.job-description{
  line-height: 1.5;
  box-sizing: border-box;
}

/**Education box**/
.education {
  float: left;
  grid-area: d;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  box-sizing: border-box;
  height: 250px;
  width: 780px;
  top: 52%;
  margin: 15px 15px 15px 15px;
}

/**project box**/
.project {
  float: left;
  grid-area: c;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  box-sizing: border-box;
  height: 250px;
  width: 350px;
  margin: 15px 15px 15px 15px;
}
.project-box{
  float: left;
  border-width: 0px 0px 0px 0px;
  box-sizing: border-box;
  margin: 0px 15px 0px 20px;
  padding: 10px 10px 10px 10px;
  width: 340px;
  height: auto;
}

/**Skills box**/
.skills {
  float: right;
  box-shadow: 10px 10px 5px grey;
  background-color: white;
  box-sizing: border-box;
  height: 250px;
  width: 350px;
  top: 
  margin: 15px 15px 15px 15px;
}

 {
  list-style-type: none;
}

ul {
  list-style: none;
  margin: 10px 20px 20px 45px;
}

li.l1 {
  border: solid;
  border-width: 1px;
  background-color: #00BFFF;
  margin: 10px 10px 10px 0px;
}

li.l2 {
  border: solid;
  border-width: 1px;
  background-color: #00BFFF;
  margin: 10px 35px 10px 0px;
}

li.l3 {
  border: solid;
  border-width: 1px;
  background-color: #00BFFF;
  margin: 10px 50px 10px 0px;
}

li.l4 {
  border: solid;
  border-width: 1px;
  background-color: #00BFFF;
  margin: 10px 90px 10px 0px;
 
}
li.l5 {
  border: solid;
  border-width: 1px;
  background-color: #00BFFF;
  margin: 10px 10px 10px 0px;

}


.awards{
   float:right;
   border-width: 0px 0px 2px 0px;
   box-sizing: border-box;
   margin: 15px;
   padding: 10px;
   width: 250px;
   height: auto;
}


.awards-text {
  display: inline-block;
  line-height: 2.0;
  text-align: left;
  font-size: 15px;
  color: #151B54;
  margin: 15px 15px 15px 15px;
  box-sizing: border-box;
}


/** Tooltip  **/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  
  visibility: hidden;
  width: 250px;
  background-color: #191970;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

